body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200dvh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    background-color: pink;
    position: fixed;
    top: 0;
}

p {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}