@font-face {
    font-family: fatality;
    src: url(fonts/ftltlt-webfont.woff);
}

* {
    font-family: fatality;
}

body {
    margin: 0;
    background-color: black;
    height: 100dvh;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    background-color: black;
    max-width: 85%;
    height: 40dvh;
}

nav {
    background-color: #7272dd;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9000ff;
    height: 7.5dvh;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navitems {
    background-color: #7272dd;
    margin: 0 auto;
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1em;
    gap: 15%;
    height: 5dvh;
    color: white;
    background-color: #7272dd;
}

.linkstyles {
    text-decoration: none;
    color: white;
}

.generallinkscontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35dvw;
    background-color: #9000ff;
    height: 7.5dvh;
}

.downloadlinkscontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 7.5dvh;
    width: 20dvw;
    background-color: #9000ff;
}

.articlebackground {
    background-color: white;
}

.article {
    display: flex;
    flex-direction: column;
    height: 47.5dvh;
    width: 100%;
    background-color: white;
    background-image: url(images/image-main-01.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 50% 50%;
    margin: 0 auto;
    max-width: 85%;
}

.fontheader {
    font-size: 4em;
}

.fontparagraph {
    font-size: 1em;
}

.buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    width: 7.5dvw;
    height: 5dvh;
    margin-right: 1em;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9000ff;
    border: 1px solid #9000ff;
    border-radius: 8px;
    color: white;
    width: 7.5dvw;
    height: 5dvh;
}

.button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    height: 5dvh;
    width: 10dvw;
}